<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="app.phantom" />
        <package android:name="com.solflare.mobile" />
        <package android:name="com.jup.wallet" />
        <package android:name="app.backpack.mobile" />
        <package android:name="com.okinc.okx.wallet" />
        <package android:name="com.ledger.live" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="solana-wallet" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AdminApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Admin"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="open-cookie.pages.dev"
                    android:pathPrefix="/admin" />
            </intent-filter>
        </activity>
    </application>

</manifest>
